.section-title {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #5e5e5e;
    margin-bottom: 10px;
}

.section-title .sub {
    font-size: 12px;
    font-weight: 600;
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.section-title .underline {
    width: 250px;
    height: 1px;
    background-color: #ddd;
    margin: 0 auto;
}

.tab-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #aaa;
    margin: 20px;
    flex-wrap: nowrap;
}
  
.tab-button {
    flex: 1; /* 균등 분배 */
    padding: 10px 0;
    min-width: 80px;
    background: white;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    text-align: center;
}
  
.tab-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* 항상 버튼 너비 기준 */
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s;
}
  
.tab-button.active {
    background: #f0f0f0;
    color: #005c5c;
}
  
.tab-button.active::after {
    background-color: #005c5c;
}

.tab-content {
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
  
.tab-content.active {
    display: block;
}
  
.tab-content#overview img {
    width: 90%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}
.tab-content#company img {
    width: 90%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}
.tab-content#location img{
    width: 93%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}
.tab-content#premium img{
    width: 90%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}

/* 2번째 단지안내 */
.tab-content#layout img {
    width: 90%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}
.tab-content#community img{
    width: 93%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}
.tab-content#benefit img{
    width: 93%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}
.tab-content#system img{
    width: 93%;
    max-width: 800px;
    height: auto;
    display: inline-block;
}
.page-section {
    display: none;
}
.page-section.active {
    display: block;
}
.tab-content {
    display: none;
}

.tab-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #aaa;
  margin: 20px auto;
  flex-wrap: wrap;
  max-width: 800px;
}

.tab-button {
  flex: 1;
  min-width: 100px;
  padding: 10px 0;
  background: white;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  text-align: center;
}

.tab-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.tab-button.active {
  background: #2c8b83;
  color: white;
}

.tab-button.active::after {
  background-color: white;
}

.tab-content img {
  width: 90%;
  max-width: 800px;
  height: auto;
}
.price {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
.price img{
    width: 90%;
    height: auto;
}

/* #section5 {
    margin-bottom: 100px;
}

#section5 .underline{
    margin-bottom: 100px;
}

#youtube {
    background-color: #d3d3d4;
    width: 100%;
    text-align: center;
}

iframe{
    margin: 17px auto;
    width: 95%; 
    height: 50vh;
    text-align: center;
} */
